* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Sora", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 164px;
    width: 368px;
    padding: 16px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    border-radius: 15px;
}

.image-section img{
    border-radius: 5px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tag {
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    color: #7C19EE;
    font-weight: 700;
    background-color: #F2EAFD;
    margin: 6px 0px 16px 0px;
}

h1 {
    font-size: 18px;
    margin-bottom: 6px;
}

p {
    font-size: 14px;
    color: #394150;
    margin-bottom: 20px;
    line-height: 1.6;
}

.name {
    font-size: 12px;
    margin: 20px 0px 0px 0px;
}

.info-section-2 {
    border-top: 1px solid #f0f2f5;
}